<!DOCTYPE html>
<html lang="en">
<head>4
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <title>Successfully Submited</title>
</head>
<body>
    <div class="container">
        <img src="../static/success.png" alt="" srcset="" class="logo5" width="50" >
        <h1>Thank You !</h1>
        <h2>Thank you for your rating in our product. We will get back to you soon</h2>
    </div>
</body>
</html>